<!-- Footer -->
<footer class="footer bg-dark">
  <div class="container-fluid text-center">
    <div class="row" >
        <div class="col" > <span style="color:deepskyblue; ">Horario de Atención:</span> <br>
            Lunes a Viernes de 10:00am-8:00 pm <br>
            Sábados de 10:00 am – 2:00 pm <br>
            <span style="color:deepskyblue;">¡CITA PREVIA!</span><br>
            </div>
        <div class="col">

      <span>Tel:</span> (844) 134 5828 <br>
      <span>Fax:</span> (844) 134 5828<br>
      <span>Email:</span> clinicaDental@Outlook.com<br>
      © 2018 Copyright: ClinicaDental.com <br>
</div>
<div class="col">
  <br>
  <a href="#" target="blank_">
    <img src="../../assets/Facebook-icon-1.png" alt="facebookIcon" class="iconos">
  </a>
  <a href="#" target="blank_"><img src="../../assets/twitter_PNG32.png" alt="twitterIcon" class="iconos"></a>
    <a href="#" target="blank_"><img src="../../assets/youtube.PNG" alt="youtubeIcon" class="iconos"></a>
    <a href="#" target="blank_"><img src="../../assets/in.png" alt="linkedInIcon" class="iconos"></a>
    
</div>
</div>

</div>

</footer>
<!-- Footer -->
