<div class="container-fluid ">
    <h1 class="textCentrado">Contacto</h1>
    <br><br><br>
  <div class="row">
      <div class="col text-justify">
<h3 >Consultorio dental</h3>
<p>    <img src="../../assets/address.png" alt="email" style="height: 15px; width: 15px"> Dirección: Calle del Kiosco #187, Col. Kiosco  <br>
        <img src="../../assets/telephone.png" alt="email" style="height: 15px; width: 15px">Teléfono: (844)-134-5828 <br>
        <img src="../../assets/fax.png" alt="email" style="height: 15px; width: 15px"> Fax: (844)-134-5828 <br>
        <img src="../../assets/email.png" alt="email" style="height: 15px; width: 15px">
        Correo electrónico:  Ejemplo@Outlook.com <br>

    </p>
      </div>
      <div class="col text-justify">
<h3 >Horario de Atención</h3>
<p>Lunes a Viernes de 10:00 am - 8:00 pm <br>
        Sábados de 10:00 am - 2:00 pm
        </p>      
</div>
  </div>  
</div>
 