<div class="container-fluid ">
    <h1 class="textCentrado">Contacto</h1>
  <div class="row">
      <div class="col text-justify">
<h3 >Consultorio dental</h3>
<p>     Dirección: Calle del Kiosco #187, Col. Kiosco  <br>
        Teléfono: (844) 134 5828 <br>
        Fax: (844) 134 5828 <br>
        Correo electrónico:  Ejemplo@Outlook.com <br>

    </p>
      </div>
      <div class="col text-justify">
<h3 >Horario de Atención</h3>
<p>Lunes a Viernes de 10:00am-8:00 pm <br>
        Sábados de 10:00 am – 2:00 pm
        </p>      
</div>
  </div>  
</div>
 