       <div class="align-content-center" > <article> 
        <img src="../../assets/DentistaHistoria.jpg" alt="HistoraImageen" 
         style="height: 20vw; width:20vw; float:left; margin: 10px 10px 0px 0px;  border-radius: 25px; ">
         <h1>Historia</h1>
         <p>Desde los inicios de la Clínica Dental se ha destacado por ser una opción de prestigio entre nuestros clientes, basándonos siempre en la calidad humana, personal altamente calificado, y excelencia en el servicio al cliente.
<br><br>
          Hoy en día, la preparación continua del personal y la adquisición de avanzados equipos, nos han permitido ubicarnos entre las mejores Clínicas Dentales en el Estado.
          </p></article> </div>