
  <img src="../../assets/mission.jpg" alt="MissionImage" 
   style="height: 20vw; width:20vw; float:left; margin: 10px 10px 0px 0px;  border-radius: 25px;">
   <h1>Misión!</h1>
   <article>
   <p>La Odontología, a pesar de su juventud como carrera que consta de la medicina, se conoce la existencia desde tiempos remotos, de expertos en problemas odontológicos,
   especialmente en la exodoncia dental o extracción de piezas dentarias, 
   cuyas patologías han afectado a la humanidad desde sus mismos orígenes. 
   Por ello es importante para los Odontólogos conocer la medicina en el 
   proceso de su carrera profesional, para ser conscientes del papel de la misma en la Historia de
    la humanidad. La Historia de la Odontología ayuda a conocer hechos ocurridos, en los que se
     manifiesta el importante papel desarrollado por quienes desempeñan este oficio en ayuda del ser 
     humano enfermo, e igualmente la Historia ayuda a recordar figuras eminentes que desde diferentes
      culturas, han destacado de forma brillante por su trabajo,
    y han aportado su inteligencia y sus conocimientos haciendo avanzar a la Odontología.
  
    Los primeros registros arqueológicos de tratamientos dentales
    datan de hace unos 14 milenios, en el norte de Italia, la pieza con caries fue operada para 
    eliminar la caries aunque no se utilizaron rellenos dentales.1​ En el 4500 a. C. se encontraron en
     Eslovaquia restos de piezas dentales en las que si se utilizaron rellenos dentales.2​
     </p>
     </article>
     
     <hr style=" border-width:3px;">
     <img src="../../assets/vision.jpg" alt="VisionImage" 
   style="height: 20vw; width:20vw; float:right; margin: 10px 0px 0px 10px;  border-radius: 25px;">
     <h1 style="text-align: right">Visión!</h1>
     <article>
     <p>
     La Odontología se inició en el año 3000 a. C. con los médicos egipcios que incrustaban piedras
      preciosas en los dientes. Tres siglos después, en China, se utilizaba la acupuntura para tratar 
      el dolor asociado a la caries dental. La acupuntura se engloba dentro de las denominadas medicinas
       alternativas. Se basa en la creencia de que en el cuerpo hay una energía que fluye a través de 
       doce canales que pueden obstruirse, esta circunstancia es la responsable de que exista la 
       enfermedad. En el 700 a. C., los etruscos y los fenicios utilizaban bandas y alambres de oro 
       para la construcción de prótesis dentales. En las bandas se colocaban dientes extraídos en el 
       lugar en que no había dientes y, con los alambres, éstos eran retenidos en la boca. Además, fueron
        los primeros en utilizar material para implantes, tales como el marfil y las conchas de mar. 
        Hay que mencionar al pueblo maya, que utilizaba incrustaciones de oro, piedras preciosas o
         minerales, para la restauración de piezas dentales, no solo por estética sino también por 
         ornamentación. 
     Al ver la necesidad de que la población tenia halitosis se creo la odontología.</p></article> 