<div style="padding: 15px">
  <img src="../../assets/mission.jpg" alt="MissionImage" 
   style="height: 8vw; width:8vw; float:left; margin: 10px 10px 0px 0px;  border-radius: 25px;">
   <h1>Misión</h1>
   <article>
   <p>Ser una Clínica Dental Líder en atención dental general y especializada, satisfaciendo las necesidades de nuestros clientes, brindándoles productos y servicios de calidad.
     </p>
     </article>
</div>
<hr style=" border-width:3px;">
<div style="padding: 15px">

  <img src="../../assets/vision.jpg" alt="VisionImage" 
style="height: 8vw; width:8vw; float:right; margin: 10px 0px 0px 10px;  border-radius: 25px;">
  <h1 style="text-align: right">Visión</h1>
  <article>
  <p>Ser la mejor Clínica Dental en el Estado, contando con la mejor tecnología, equipos y personal altamente calificado.</p></article> 
</div>
    