<div class="container-fluid" style="height: 100%;">
<div class="row">
<div class="col"><h1 style="text-align:center;">Clinica Dental</h1>
  <p>Nuestra Clínica Dental está ubicada a dos cuadras de la Clínica 2. Es accesible a través del Blvd. Venustiano Carranza, o a través del Blvd. Humberto Hinojosa Domínguez. Nuestro personal se enorgullece de ofrecer servicios excepcionales. Nuestra Clínica utiliza completamente el equipamiento de última generación. Tenemos un moderno sistema de esterilización que supera los requisitos de OSHA. 
      Nuestro personal es amable y Profesional. Está enfocado en la calidad de su salud dental. Ofrecemos lo mejor y lo último en tecnología y opciones de tratamiento. Esperamos pronto brindarle la bienvenida a nuestra Clínica Dental. 
      </p>
</div>

</div>
<div class="row">
    <div class="col">
  <h3>Seguros:</h3>
  <p>Aceptamos la mayoría de planes de seguros. <br> Llámenos para solicitar una cita y le responderemos cualquier pregunta que tenga. 
    </p>
    </div>
    <div class="col">
  <h3>Formas de pago:</h3>
  <p>
      Aceptamos todas las tarjetas de crédito, débito, efectivo y cheques personales
  </p>
    </div>
</div>
</div>