<div class="container-fluid" style="height: 100%;">
<div class="row">
<div class="col"><h1 style="text-align:center;">Clinica Dental</h1>
 
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1071.047739688673!2d-100.98823999390444!3d25.45294244212529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86886d4e5cc56713%3A0xfaa53cac1641e38c!2sDel+Kiosco+187%2C+Kiosco%2C+25240+Saltillo%2C+Coah.!5e0!3m2!1sen!2smx!4v1537215529241" width="400" height="300" frameborder="0" style="border:0; float: left; margin-right: 25px;" class="imagen" allowfullscreen></iframe>Nuestra Clínica Dental está ubicada a dos cuadras de la Clínica 2.
     Es accesible a través del Blvd. Venustiano Carranza, o a través del Blvd. 
     Humberto Hinojosa Domínguez. Nuestro personal se enorgullece de ofrecer servicios excepcionales.<br> <br> 
     Nuestra Clínica utiliza completamente el equipamiento de última generación. 
     Tenemos un moderno sistema de esterilización que supera los requisitos de OSHA. 
      Nuestro personal es amable y Profesional. Está enfocado en la calidad de su salud dental.
      <br>  Ofrecemos lo mejor y lo último en tecnología y opciones de tratamiento. 
       Esperamos pronto brindarle la bienvenida a nuestra Clínica Dental. 
      </p>
</div>

<div class="row text-center">
    <div class="col">
<img src="../../../assets/fachada.jpg"  class="imagen" alt="fachadaConsultorio">
    </div>
  <div class="col">
<img src="../../../assets/interior.jpg" class="imagen" alt="interiorConsultorio">
  </div>
</div>
  
  <p>Nuestro personal es amable y Profesional. Está enfocado en la calidad de su salud dental. Ofrecemos lo mejor y lo último en tecnología y opciones de tratamiento. Esperamos pronto brindarle la bienvenida a nuestra Clínica Dental. 
    </p>
</div>

<div class="row">
    <div class="col">
  <h3>Seguros:</h3>
  <p>Aceptamos la mayoría de planes de seguros. <br> Llámenos para solicitar una cita y le responderemos cualquier pregunta que tenga. 
    </p>
    </div>
    <div class="col">
  <h3>Formas de pago:</h3>
  <p>
      Aceptamos todas las tarjetas de crédito, débito, efectivo y cheques personales
      <img src="../../../assets/visa.jpg" alt="visa" class="iconoPago" >
      <img src="../../../assets/mastercard.png" alt="mastercard" class="iconoPago">
  </p>
    </div>
</div>
</div>