h3{
    text-align: center;
}
.iconoPago{
    height: 33px ;
    width: 50px ;
    margin-left: 10px;
}

.imagen{
    height: 20vw; 
    width: 30vw;
    margin-bottom: 15px;
}
p::first-letter { 
    font-size: 25px;
    color: rgb(8, 101, 241);
}