
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width:250px;" >
        <h5 class="card-header text-center ">Edward Angle</h5>
        <img class="card-img-top" src="../../../assets/edward-angle-logo.png"  style="height: 150px;"alt="Card image">
        <div class="card-body" >
          <h4 class="card-title">Ortodoncista</h4>
          <p class="card-text">Edward Angle fue un dentista estadounidense al que se le considera padre de la ortodoncia moderna.

            Nació el 1 de junio en Herrick, Pensilvania, 
             en 1876 empezó sus estudios en el instituto de cirugía oral de Filadelfia,
              licenciándose en 1878 y comenzando su práctica profesional en Towanda, 
              donde empieza su interés por la ortodoncia.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:250px;" >
        <h5 class="card-header text-center ">Guddy</h5>
        <img class="card-img-top" src="../../../assets/guddy_by_cristy2354-d350a3w.jpg" style="height: 150px;" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Odontologo</h4>
          <p class="card-text">Edward Angle fue un dentista estadounidense al que se le considera padre de la ortodoncia moderna.

            Nació el 1 de junio en Herrick, Pensilvania, 
             en 1876 empezó sus estudios en el instituto de cirugía oral de Filadelfia,
              licenciándose en 1878 y comenzando su práctica profesional en Towanda, 
              donde empieza su interés por la ortodoncia.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:250px;" >
        <h5 class="card-header text-center ">Mickey</h5>
        <img class="card-img-top" src="../../../assets/mickydentista.jpg" style="height: 150px;" alt="Card image">
        <div class="card-body"  >
          <h4 class="card-title">Enfermero</h4>
          <p class="card-text">Edward Angle fue un dentista estadounidense al que se le considera padre de la ortodoncia moderna.

            Nació el 1 de junio en Herrick, Pensilvania, 
             en 1876 empezó sus estudios en el instituto de cirugía oral de Filadelfia,
              licenciándose en 1878 y comenzando su práctica profesional en Towanda, 
              donde empieza su interés por la ortodoncia.</p>
          
        </div>
      </div>
    </div>
    
  </div>

  <div class="row" style="margin-top: 25px;">
    <div class="col">
      <div class="card" style="width:250px;" >
        <img class="card-img-top" src="../../../assets/img_avatar1.png" alt="Card image">
        <div class="card-body"  >
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Odontólowqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqgo</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:250px;" >
        <img class="card-img-top" src="../../../assets/img_avatar1.png" alt="Card image">
        <div class="card-body"  >
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Odontólowqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqgo</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:250px;" >
        <img class="card-img-top" src="../../../assets/img_avatar1.png" alt="Card image">
        <div class="card-body"  >
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Odontólowqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqgo</p>
          
        </div>
      </div>
    </div>
  </div>
</div>