<div class="text-center"><h1>Tratamientos!</h1></div> 

<div class="container-fluid">
    <div class="row">
        <div class="col">
                <img src="../../assets/01_implante2.png" class="rounded-circle float-left" alt="imgImplateDental" width="186" height="186" style="padding-left: 10px; padding-right: 10px;">
                <h4>Implantes dentales</h4>
                <p>       Disfrute de una dentadura sana y bonita desde solo $3.888,
                        gracias a la implantología dental. Vuelva a sonreír, 
                        sustituyendo las piezas naturales perdidas por nuestras piezas de titanio de máxima calidad, 
                        que se colocan en el hueso fijando la dentadura eficazmente.</p>
         
            </div>
    </div>
    <br><br>
    <div class="row">
            <div class="col">
                    <img src="../../assets/02_ortodoncia.png" class="rounded-circle float-right" alt="imgImplateDental" width="186" height="186" style="padding-left: 10px; padding-right: 10px;">
                    <h4>Ortodoncia</h4>
                    <p>     La ortodoncia es la especialidad odontológica que se especializa en el tratamiento de las alteraciones del desarrollo dental​, trabajando entorno a tres áreas, el diagnóstico​, la prevención y el tratamiento​, para corregir la posición de los dientes y mandíbula​.

                            El tratamiento de ortodoncia no se utiliza únicamente por motivos estéticos sino que también repercute en la salud bucodental​, los dientes encimados y chuecos son más propensos a sufrir caries y enfermedades de las encías debido a que son más difíciles de limpiar.
                            
                            Gracias a la ortodoncia tendrá una sonrisa perfecta y envidiable​, además de mejorar su salud bucodental.
                            
                            En Dentimex podemos ofrecerle desde la solución tradicional de ortodoncia metálica básica hasta los últimos tratamientos de ortodoncia estética, con la que apenas nadie percibirá que la lleva.</p>
             
                </div>
        </div>
        <br><br>
        <div class="row">
                <div class="col">
                        <img src="../../assets/04_endodoncia1.png" class="rounded-circle float-left" alt="imgImplateDental" width="186" height="186" style="padding-left: 10px; padding-right: 10px;">
                        <h4>Endodoncia</h4>
                        <p>  La endodoncia es la solución inmediata y definitiva ante las molestias dolorosas provocadas por la afectación del nervio. Acuda a cualquier clínica dental Dentimex y no pierda su pieza dental. Conservará la apariencia de su dentadura mientras que el dolor desaparece por completo.</p>
                 
                    </div>
            </div>
            <br><br>
            <div class="row">
                    <div class="col">
                            <img src="../../assets/05_estetica.png" class="rounded-circle float-right" alt="imgImplateDental" width="186" height="186" style="padding-left: 10px; padding-right: 10px;">
                            <h4>Estética dental</h4>
                            <p>   Actualmente, tener una buena sonrisa es sinónimo de salud y bienestar social. Cada vez son más los pacientes que se preocupan por tener no sólo una boca sana, sino también una bonita sonrisa. ¿Cómo puede mejorar el aspecto de sus dientes? Si no está satisfecho con la apariencia de su dentadura en Dentimex queremos ayudarle. Descubre nuestra gama de tratamientos indicados para mejorar y fortalecer su sonrisa.</p>
                     
                        </div>
                </div>
                <br><br>
                <div class="row">
                        <div class="col">
                                <img src="../../assets/01_implante1.png" class="rounded-circle float-left" alt="imgImplateDental" width="186" height="186" style="padding-left: 10px; padding-right: 10px;">
                                <h4>Prótesis dental</h4>
                                <p>  Gracias a las técnicas actuales, hoy se pueden rehabilitar bocas con la ausencia total de dientes. Y recuperar la comodidad, la sonrisa, y por supuesto el hecho de sentirse seguro y a gusto con uno mismo. </p>
                         
                            </div>
                    </div>
                    <br><br>
                    <div class="row">
                            <div class="col">
                                    <img src="../../assets/03_periodoncia2.png" class="rounded-circle float-right" alt="imgImplateDental" width="186" height="186" style="padding-left: 10px; padding-right: 10px;">
                                    <h4>Periodoncia</h4>
                                    <p> La falta de higiene bucal puede provocar enfermedades. En Dentimex tratamos y solucionamos estos problemas para mantener la salud de sus dientes. No descuide su sonrisa y venga a visitarnos, podemos ayudarle.</p>
                             
                                </div>
                        </div>
    </div>
    