
<nav class="navbar navbar-expand-sm bg-info navbar-dark" >
      
  <img src="..\assets\logoDiente.jpg" style="width: 110px; height: 50px;" 
  alt="Logo Dentista">
  <ul class="navbar-nav">
    <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" routerLink="/" >Inicio</a>
      <div class="dropdown-content">
        <a href="#" routerLink="/historia">Historia</a>
        <a href="#" routerLink="/MisVis">Misión y Visión</a>
      </div>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link" >Nosotros</a>
      <div class="dropdown-content">
        <a href="#" routerLink="/clinicaDental">Clínica Dental</a>
        <a href="#" routerLink="/especialistas">Especialistas</a>
      </div>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link" routerLink="/tratamientos">Tratamientos</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/galeria_de_sonrisas">Galería de Sonrisas</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
  </ul>
</nav>
